import aiokafka.helpers
import aiohttp
import os

BASEDIR = os.path.dirname(__file__)

PG_DSN = 'host=localhost user=webmonitor password=webmonitor dbname=webmonitor'
KAFKA_OPTS = {
	'bootstrap_servers': 'localhost:9092',
	'security_protocol': 'SSL',
	'ssl_context': aiokafka.helpers.create_ssl_context(
		cafile=os.path.join(BASEDIR, 'ca.pem'),
		certfile=os.path.join(BASEDIR, 'service.cert'),
		keyfile=os.path.join(BASEDIR, 'service.key'),
	)
}

CHECK_FREQUENCY = 1
HTTP_TIMEOUT = aiohttp.ClientTimeout(total=10)
BATCH_SIZE = 10

URLS = [
	('https://aiven.io/', 'Learn More'),
	('https://console.aiven.io/', None),
]

